body {
    margin: 0;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.container {
    display: grid;
    grid-gap: 10px;
    place-content: center;
    width: 290px;
    margin: auto 0;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);

}

h2 {
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    
}

.paragraph{
    width: 250px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   
}

.para {
    font-size: 14px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    
}

img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}